body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.state-dropdown-container {
    padding-left: 0px;
    padding-right: 0px;
}

fieldset.customer-form-fieldset {
    padding: 15px;
    padding-top: 25px;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.pagination .active a#current-page {
    color: #f5f5f5;
    background-color: #3399f3;
}

ul#page-nav-list {
    margin-top: 0px;
}

.vertical-align-middle {
    vertical-align: middle;
}

.push-down-20px {
    margin-top: 30px;
}
