@model MedRideCMS.ViewModels.CustomerViewModels.IndexViewModel
@using MedRideCMS.Models

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Dashboard</h2>
<div class="col-lg-2">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active">
            @Html.ActionLink("Home", "Index")
        </li>
        <li role="presentation">
            @Html.ActionLink("Customer Lookup", "CustomerLookup")
        </li>
        <li role="presentation">
            @Html.ActionLink("New Customer", "NewCustomer")
        </li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-10">
           
            @{ Html.RenderPartial("CustomerTable", Model.PagedResult); }

            @{ Html.RenderPartial("PagedResultNavigationButtons", Model.PagedResult); }
        </div>

    </div>
</div>






